In [212]:
import pandas as pd
from patsy import dmatrices
import numpy as np
import statsmodels.api as sm

In [211]:
df = pd.read_csv('p3all_teams_full_season.csv', header=0)
df

,TEAM_ID,TEAM_NAME,GAME_DATE,LN_ATT,WIN_PCT,CLI,STREAK,LN_HIGHEST_PSAL,LN_AVG_PSAL,LN_AGE,LN_CITY_POP,LN_STATE_INC,LN_CAP,STRIKE94_RECOV,NEW_PARK,POST_911
0,1,BOS,9/29/19,10.475,51.9,0.00,-3.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
1,1,BOS,9/28/19,10.503,51.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
2,1,BOS,9/27/19,10.450,51.9,0.00,1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
3,1,BOS,9/19/19,10.486,52.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
4,1,BOS,9/18/19,10.483,52.3,0.00,-1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27212,10,STL,4/13/86,10.588,80.0,1.90,4.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27213,10,STL,4/12/86,10.555,100.0,1.90,3.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27214,10,STL,4/11/86,10.319,100.0,1.80,2.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27215,10,STL,4/10/86,10.403,100.0,1.67,1.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27216,10,STL,4/8/86,10.793,100.0,1.66,NaN,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0

In [ ]:
#Print Dataframe to csv

# df.to_csv('file_name.csv')

In [ ]:
#Print all games with NA values

null_data = df[df.isnull().any(axis=1)]
null_data

In [210]:
# replace all na's with 0
df['STREAK'] = df['STREAK'].replace(np.nan, 0)
df

,TEAM_ID,TEAM_NAME,GAME_DATE,LN_ATT,WIN_PCT,CLI,STREAK,LN_HIGHEST_PSAL,LN_AVG_PSAL,LN_AGE,LN_CITY_POP,LN_STATE_INC,LN_CAP,STRIKE94_RECOV,NEW_PARK,POST_911
0,1,BOS,9/29/19,10.475,51.9,0.00,-3.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
1,1,BOS,9/28/19,10.503,51.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
2,1,BOS,9/27/19,10.450,51.9,0.00,1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
3,1,BOS,9/19/19,10.486,52.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
4,1,BOS,9/18/19,10.483,52.3,0.00,-1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27212,10,STL,4/13/86,10.588,80.0,1.90,4.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27213,10,STL,4/12/86,10.555,100.0,1.90,3.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27214,10,STL,4/11/86,10.319,100.0,1.80,2.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27215,10,STL,4/10/86,10.403,100.0,1.67,1.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27216,10,STL,4/8/86,10.793,100.0,1.66,0.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0

In [189]:
# Remove all Na values
newdf = df.dropna()
newdf

,TEAM_ID,TEAM_NAME,GAME_DATE,LN_ATT,WIN_PCT,CLI,STREAK,LN_HIGHEST_PSAL,LN_AVG_PSAL,LN_AGE,LN_CITY_POP,LN_STATE_INC,LN_CAP,STRIKE94_RECOV,NEW_PARK,POST_911
0,1,BOS,9/29/19,10.475,51.9,0.00,-3.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
1,1,BOS,9/28/19,10.503,51.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
2,1,BOS,9/27/19,10.450,51.9,0.00,1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
3,1,BOS,9/19/19,10.486,52.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
4,1,BOS,9/18/19,10.483,52.3,0.00,-1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27211,10,STL,4/24/86,10.422,58.3,2.20,-1.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27212,10,STL,4/13/86,10.588,80.0,1.90,4.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27213,10,STL,4/12/86,10.555,100.0,1.90,3.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27214,10,STL,4/11/86,10.319,100.0,1.80,2.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27215,10,STL,4/10/86,10.403,100.0,1.67,1.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0

In [190]:
df_train = newdf
df_train

,TEAM_ID,TEAM_NAME,GAME_DATE,LN_ATT,WIN_PCT,CLI,STREAK,LN_HIGHEST_PSAL,LN_AVG_PSAL,LN_AGE,LN_CITY_POP,LN_STATE_INC,LN_CAP,STRIKE94_RECOV,NEW_PARK,POST_911
0,1,BOS,9/29/19,10.475,51.9,0.00,-3.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
1,1,BOS,9/28/19,10.503,51.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
2,1,BOS,9/27/19,10.450,51.9,0.00,1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
3,1,BOS,9/19/19,10.486,52.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
4,1,BOS,9/18/19,10.483,52.3,0.00,-1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27211,10,STL,4/24/86,10.422,58.3,2.20,-1.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27212,10,STL,4/13/86,10.588,80.0,1.90,4.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27213,10,STL,4/12/86,10.555,100.0,1.90,3.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27214,10,STL,4/11/86,10.319,100.0,1.80,2.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0
27215,10,STL,4/10/86,10.403,100.0,1.67,1.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0

In [191]:
expr = """LN_ATT ~ WIN_PCT  + CLI + STREAK + LN_HIGHEST_PSAL + LN_AVG_PSAL + LN_AGE + 
LN_CITY_POP + LN_STATE_INC + LN_CAP + STRIKE94_RECOV + NEW_PARK + POST_911"""
expr

'LN_ATT ~ WIN_PCT  + CLI + STREAK + LN_HIGHEST_PSAL + LN_AVG_PSAL + LN_AGE + \nLN_CITY_POP + LN_STATE_INC + LN_CAP + STRIKE94_RECOV + NEW_PARK + POST_911'

In [192]:
y_train, X_train = dmatrices(expr, df, return_type='dataframe')

In [193]:
print(y_train)

       LN_ATT
0      10.475
1      10.503
2      10.450
3      10.486
4      10.483
...       ...
27211  10.422
27212  10.588
27213  10.555
27214  10.319
27215  10.403

[26876 rows x 1 columns]

In [194]:
print(X_train)

       Intercept  WIN_PCT   CLI  STREAK  LN_HIGHEST_PSAL  LN_AVG_PSAL  LN_AGE  \
0            1.0     51.9  0.00    -3.0           12.162       10.532   4.771
1            1.0     51.6  0.00    -2.0           12.162       10.532   4.771
2            1.0     51.9  0.00     1.0           12.162       10.532   4.771
3            1.0     52.6  0.00    -2.0           12.162       10.532   4.771
4            1.0     52.3  0.00    -1.0           12.162       10.532   4.771
...          ...      ...   ...     ...              ...          ...     ...
27211        1.0     58.3  2.20    -1.0           10.238        8.388   4.920
27212        1.0     80.0  1.90     4.0           10.238        8.388   4.920
27213        1.0    100.0  1.90     3.0           10.238        8.388   4.920
27214        1.0    100.0  1.80     2.0           10.238        8.388   4.920
27215        1.0    100.0  1.67     1.0           10.238        8.388   4.920

       LN_CITY_POP  LN_STATE_INC  LN_CAP  STRIKE94_RECOV  NEW_PARK  POST_911
0           13.448        11.382  10.538             0.0       0.0       0.0
1           13.448        11.382  10.538             0.0       0.0       0.0
2           13.448        11.382  10.538             0.0       0.0       0.0
3           13.448        11.382  10.538             0.0       0.0       0.0
4           13.448        11.382  10.538             0.0       0.0       0.0
...            ...           ...     ...             ...       ...       ...
27211       13.350        10.799  10.824             0.0       0.0       0.0
27212       13.350        10.799  10.824             0.0       0.0       0.0
27213       13.350        10.799  10.824             0.0       0.0       0.0
27214       13.350        10.799  10.824             0.0       0.0       0.0
27215       13.350        10.799  10.824             0.0       0.0       0.0

[26876 rows x 13 columns]

In [195]:
poisson_training_results = sm.GLM(y_train, X_train, family=sm.families.Poisson()).fit()

In [196]:
print(poisson_training_results.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 LN_ATT   No. Observations:                26876
Model:                            GLM   Df Residuals:                    26863
Model Family:                 Poisson   Df Model:                           12
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -56301.
Date:                Mon, 11 Apr 2022   Deviance:                       334.76
Time:                        16:55:02   Pearson chi2:                     332.
No. Iterations:                     3   Pseudo R-squ. (CS):           0.006693
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           1.6774      0.411      4.076      0.000       0.871       2.484
WIN_PCT             0.0008      0.000      3.409      0.001       0.000       0.001
CLI                 0.0050      0.002      2.145      0.032       0.000       0.010
STREAK          -8.528e-06      0.001     -0.011      0.991      -0.002       0.002
LN_HIGHEST_PSAL    -0.0110      0.007     -1.680      0.093      -0.024       0.002
LN_AVG_PSAL         0.0372      0.007      5.699      0.000       0.024       0.050
LN_AGE              0.0929      0.025      3.656      0.000       0.043       0.143
LN_CITY_POP         0.0044      0.002      2.102      0.036       0.000       0.008
LN_STATE_INC       -0.0033      0.026     -0.128      0.898      -0.053       0.047
LN_CAP             -0.0099      0.014     -0.698      0.485      -0.038       0.018
STRIKE94_RECOV     -0.0020      0.012     -0.167      0.867      -0.026       0.022
NEW_PARK            0.0240      0.013      1.892      0.059      -0.001       0.049
POST_911           -0.0134      0.033     -0.409      0.682      -0.078       0.051
===================================================================================

In [197]:
poisson_predictions = poisson_training_results.get_prediction(X_train)
predictions_summary_frame = poisson_predictions.summary_frame()
print(predictions_summary_frame)

predicted_counts=predictions_summary_frame['mean']

            mean   mean_se  mean_ci_lower  mean_ci_upper
0      10.345668  0.096848      10.157580      10.537238
1      10.343172  0.094788      10.159050      10.530632
2      10.345315  0.093056      10.164526      10.529319
3      10.351199  0.095051      10.166568      10.539183
4      10.348702  0.093636      10.166797      10.533862
...          ...       ...            ...            ...
27211  10.038929  0.068836       9.904915      10.174756
27212  10.193493  0.093660      10.011565      10.378727
27213  10.352968  0.131169      10.099048      10.613273
27214  10.347839  0.132098      10.092144      10.610013
27215  10.341149  0.133670      10.082452      10.606484

[26876 rows x 4 columns]

In [198]:
pc = predicted_counts.to_frame()
pc

            mean
0      10.345668
1      10.343172
2      10.345315
3      10.351199
4      10.348702
...          ...
27211  10.038929
27212  10.193493
27213  10.352968
27214  10.347839
27215  10.341149

[26876 rows x 1 columns]

In [203]:
df_train

,TEAM_ID,TEAM_NAME,GAME_DATE,LN_ATT,WIN_PCT,CLI,STREAK,LN_HIGHEST_PSAL,LN_AVG_PSAL,LN_AGE,LN_CITY_POP,LN_STATE_INC,LN_CAP,STRIKE94_RECOV,NEW_PARK,POST_911,Predicted Attendance
0,1,BOS,9/29/19,10.475,51.9,0.00,-3.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.345668
1,1,BOS,9/28/19,10.503,51.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.343172
2,1,BOS,9/27/19,10.450,51.9,0.00,1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.345315
3,1,BOS,9/19/19,10.486,52.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.351199
4,1,BOS,9/18/19,10.483,52.3,0.00,-1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.348702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27211,10,STL,4/24/86,10.422,58.3,2.20,-1.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.038929
27212,10,STL,4/13/86,10.588,80.0,1.90,4.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.193493
27213,10,STL,4/12/86,10.555,100.0,1.90,3.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.352968
27214,10,STL,4/11/86,10.319,100.0,1.80,2.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.347839
27215,10,STL,4/10/86,10.403,100.0,1.67,1.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.341149

In [202]:
df_results = df_train
df_final = pd.merge(df_results, pc, left_index=True, right_index=True)
df_final

,TEAM_ID,TEAM_NAME,GAME_DATE,LN_ATT,WIN_PCT,CLI,STREAK,LN_HIGHEST_PSAL,LN_AVG_PSAL,LN_AGE,LN_CITY_POP,LN_STATE_INC,LN_CAP,STRIKE94_RECOV,NEW_PARK,POST_911,Predicted Attendance,mean
0,1,BOS,9/29/19,10.475,51.9,0.00,-3.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.345668,10.345668
1,1,BOS,9/28/19,10.503,51.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.343172,10.343172
2,1,BOS,9/27/19,10.450,51.9,0.00,1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.345315,10.345315
3,1,BOS,9/19/19,10.486,52.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.351199,10.351199
4,1,BOS,9/18/19,10.483,52.3,0.00,-1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.348702,10.348702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27211,10,STL,4/24/86,10.422,58.3,2.20,-1.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.038929,10.038929
27212,10,STL,4/13/86,10.588,80.0,1.90,4.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.193493,10.193493
27213,10,STL,4/12/86,10.555,100.0,1.90,3.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.352968,10.352968
27214,10,STL,4/11/86,10.319,100.0,1.80,2.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.347839,10.347839
27215,10,STL,4/10/86,10.403,100.0,1.67,1.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.341149,10.341149

In [206]:
col = df_final.pop('Predicted Attendance')
  
df_final.insert(4, 'Predicted Attendance', col)

df_final

,TEAM_ID,TEAM_NAME,GAME_DATE,LN_ATT,Predicted Attendance,WIN_PCT,CLI,STREAK,LN_HIGHEST_PSAL,LN_AVG_PSAL,LN_AGE,LN_CITY_POP,LN_STATE_INC,LN_CAP,STRIKE94_RECOV,NEW_PARK,POST_911,mean
0,1,BOS,9/29/19,10.475,10.345668,51.9,0.00,-3.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.345668
1,1,BOS,9/28/19,10.503,10.343172,51.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.343172
2,1,BOS,9/27/19,10.450,10.345315,51.9,0.00,1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.345315
3,1,BOS,9/19/19,10.486,10.351199,52.6,0.00,-2.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.351199
4,1,BOS,9/18/19,10.483,10.348702,52.3,0.00,-1.0,12.162,10.532,4.771,13.448,11.382,10.538,0,0,0,10.348702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27211,10,STL,4/24/86,10.422,10.038929,58.3,2.20,-1.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.038929
27212,10,STL,4/13/86,10.588,10.193493,80.0,1.90,4.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.193493
27213,10,STL,4/12/86,10.555,10.352968,100.0,1.90,3.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.352968
27214,10,STL,4/11/86,10.319,10.347839,100.0,1.80,2.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.347839
27215,10,STL,4/10/86,10.403,10.341149,100.0,1.67,1.0,10.238,8.388,4.920,13.350,10.799,10.824,0,0,0,10.341149